#view {
  #Reader {
    margin: 20px;

    .strongsReference {
      cursor: pointer;
    }
  }

  .selectBoxWrapper {
    width: 100%;
    float: left;
    margin: 20px;

    .bookSelectBox {
      float: left;
      width: 150px;
    }

    .chapterSelectBox {
      float: left;
      width: 150px;
      margin-left: 20px;
    }
  }
}

.modalContainer {
  margin-top: 5px;

  header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    .originalWord {

    }
    .pronuciation {
      margin-left: 15px;
    }
  }

  .biblicalUsage {
    margin-bottom: 20px;
  }
}

