#view {
  @import "icomoon/style.css";

  color: #111111;
  font-size: 18px;
  line-height: 1.6;

  #readerWrapper {
    .spinLoader {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    #Reader {
      display:flex;
      margin-top: 80px;

      #Chapter {
        flex-basis: 76%;
      }

      .ChapterSwipableArea {
        flex-basis: 12%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: none;
          position: fixed;
          top: 50%;
          font-size: 40px;
          color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
          &:hover {
            color: rgba(0, 0, 0, 0.9);
          }
          @media screen and (max-width: 776px) {
            font-size: 28px;
          }
        }
        &:hover {
          span {
            display: block;
          }
        }
      }

      .strongsReference {
        cursor: pointer;
        &.redText {
          color: #7E0000;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .selectBoxWrapper {
    width: 100%;
    float: left;
    padding: 10px;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 1px 5px 20px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 5px 20px 1px rgba(0,0,0,0.5);

    .bookSelectBox {
      float: left;
      width: 165px;
    }

    .chapterSelectBox {
      float: left;
      width: 70px;
      margin-left: 20px;
    }
  }
}

[class*="styles_modal"] {
  .spinLoader {
    width: 300px;
    height: 100px;
    > div {
      margin-left: 150px;
      margin-top: 75px;
    }
  }
}

.modalContainer {
  margin-top: 25px;
  max-height: 1000px;

  color: #111111;
  font-size: 18px;
  line-height: 1.6;

  header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;

    .pronuciation {
      margin-left: 15px;
    }

    @media screen and (max-width: 776px) {
      font-size: 24px;
    }
  }

  .thayersDefinitions {
    margin-bottom: 20px;
    .strongsReference {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    max-height: 500px;
    overflow: scroll;
  }

  @media screen and (max-width: 500px) {
    max-height: 350px;
    overflow: scroll;
  }
}


